header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(0, 113, 157);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
  
  }
  
  @media (max-width: 900px) {
    header{
      grid-template-columns: 1fr;
    }
  }


  .logo{
    color: white;
    font-size: 50px;
  }
  
  nav{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: end;
    align-items: center;
  }
  
  .nav_item{
    color: white;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
  }

  .nav_item:hover{
    color: rgb(1, 25, 47);
  }